@{
 ViewData["Title"] = "Payment Callback";
 bool verified = ViewBag.Verified is bool b && b;
}
<h2>Payment Callback</h2>
<dl class="row">
 <dt class="col-sm-2">Transaction</dt>
 <dd class="col-sm-10">@ViewBag.Trx</dd>
 <dt class="col-sm-2">Result Code</dt>
 <dd class="col-sm-10">@ViewBag.ResultCode</dd>
 <dt class="col-sm-2">Result Message</dt>
 <dd class="col-sm-10">@ViewBag.ResultMessage</dd>
 <dt class="col-sm-2">Doðrulama</dt>
 <dd class="col-sm-10">
 @if (verified) { <span class="text-success">Onaylandý</span> } else { <span class="text-danger">Onaylanamadý</span> }
 </dd>
</dl>
@if (verified)
{
 <p>Ödeme doðrulandý. Sipariþ oluþturma / sonraki adýmlar burada tetiklenebilir.</p>
}
<p>
 <a class="btn btn-secondary" asp-controller="DealerPayment" asp-action="Create">Yeni Ödeme</a>
</p>
