@{
 Layout = null;
 var postUrl = (string)ViewBag.PostUrl!;
 var otherTrx = (string)ViewBag.Trx!;
 var hash = (string)ViewBag.Hash!;
 var trxCode = $"ORDER-{otherTrx}"; // simulate bank order id
}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <title>Redirecting...</title>
</head>
<body onload="document.forms[0].submit()">
 <form method="post" action="@postUrl">
 <input type="hidden" name="hashValue" value="@hash" />
 <input type="hidden" name="resultCode" value="000" />
 <input type="hidden" name="resultMessage" value="Approved" />
 <input type="hidden" name="trxCode" value="@trxCode" />
 <input type="hidden" name="OtherTrxCode" value="@otherTrx" />
 <noscript>
 <p>JavaScript kapalý. Devam etmek için butona týklayýn.</p>
 <button type="submit">Devam</button>
 </noscript>
 </form>
</body>
</html>
