@model Moka.Simulator.Models.DealerPaymentInputModel
@{
 Layout = null;
 var target = Model.PostUrl!;
}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <title>Y&#246;nlendiriliyor...</title>
 <meta http-equiv="refresh" content="0;url=@target" />
 <script>
 window.location.replace('@target');
 </script>
</head>
<body>
 <p>Y&#246;nlendiriliyor... E&#287;er y&#246;nlendirilmezseniz <a href="@target">buraya t&#305;klay&#305;n</a>.</p>
 <noscript>
 <p>JavaScript kapal&#305;. Devam etmek i&#231;in <a href="@target">t&#305;klay&#305;n</a>.</p>
 </noscript>
</body>
</html>
