@model Moka.Simulator.Models.DealerPaymentInputModel
@{
    Layout = null;
    var target = Model.PostUrl!;
}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <title>Redirecting...</title>
 <meta http-equiv="refresh" content="0;url=@target" />
 <script>
 window.location.replace('@target');
 </script>
</head>
<body>
 <p>Yönlendiriliyor... Eðer yönlendirilmezseniz <a href="@target">buraya týklayýn</a>.</p>
 <noscript>
 <p>JavaScript kapalý. Devam etmek için <a href="@target">týklayýn</a>.</p>
 </noscript>
</body>
</html>
